APP_NAME=Escooters
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost

LOG_CHANNEL=stack
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=escooters-db-dev
DB_PORT=3306
DB_DATABASE=escooters
DB_USERNAME=escooters
DB_PASSWORD=password

BROADCAST_DRIVER=log
CACHE_DRIVER=file
FILESYSTEM_DISK=local
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

MEMCACHED_HOST=127.0.0.1

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=smtp
MAIL_HOST=mailhog
MAIL_PORT=1025
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null
MAIL_FROM_ADDRESS="hello@example.com"
MAIL_FROM_NAME="${APP_NAME}"

CURRENT_UID=1000
DB_ROOT_PASSWORD=example

EXTERNAL_WEBSERVER_PORT=3851
EXTERNAL_REDIS_PORT=3852
EXTERNAL_DATABASE_PORT=3853
EXTERNAL_TEST_DATABASE_PORT=3854
EXTERNAL_MAILHOG_PORT=3855
EXTERNAL_MAILHOG_DASHBOARD_PORT=3856
EXTERNAL_NODE_PORT=3857

XDG_CONFIG_HOME=/tmp

TRAEFIK_HOST=
TRAEFIK_ENABLED=false
