@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }
    .no-scrollbar {
        -ms-overflow-style: none;
        scrollbar-width: none;
      }

    .scrollbar::-webkit-scrollbar {
        width: 15px;
        height: 12px;
    }
    .scrollbar::-webkit-scrollbar-track {
        background: #e9e9e9;
        border-radius: 8px;
    }
    .scrollbar::-webkit-scrollbar-thumb {
        background: #d7d7d7;
        height: 10%;
        border-radius: 8px;
    }
    .scrollbar::-webkit-scrollbar-thumb:hover {
        background: #d3d3d3;
    }
    div.regulations>div:nth-child(2) {
        max-height: 0vh;
        margin-top: 12px;
    }

    div.regulations>div:nth-child(2).show {
        max-height: 50vh;
    }

    div.regulations>div>svg {
        transform: rotate(0deg);
    }

    div.regulations>div>svg.rotated {
        transform: rotate(-180deg);
    }
  }

